/oauth.json
/browser.json
/tmp/Gamelan Gong Kebjar： Hudjan Mas (Golden Rain).webm.part
/tmp/Gamelan Gong Kebjar： Hudjan Mas (Golden Rain).webm.ytdl
/piPod/piPod_pcb.fzz
/YT_Playlist_Downloader/oauth.json
/YT_Playlist_Downloader/home/doug/.piPod/tmp/Love Will Tear Us Apart.mp3
/YT_Playlist_Downloader/browser.json
/YT_Playlist_Downloader/www.youtube.com_cookies.txt
