# YT Downloader Authorization Keys
/oauth.json
/browser.json
/oauth.json


# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Kate editor
*.kate-swp
*.swp

# Eric IDE
*.e4*
*.e5*
*.e6*

# Local editor settings
*.bak
*~

# VS Code
.vscode/

# JetBrains
.idea/

# Build artifacts
dist/
build/

# OS files
.DS_Store
Thumbs.db
