/browser.json
/oauth.json
/piPod/piPod_pcb.fzz
/tmp/Gamelan Gong Kebjar： Hudjan Mas (Golden Rain).webm.part
/tmp/Gamelan Gong Kebjar： Hudjan Mas (Golden Rain).webm.ytdl
/YT_Playlist_Downloader/browser.json
/YT_Playlist_Downloader/oauth.json
/YT_Playlist_Downloader/www.youtube.com_cookies.txt
